@charset "UTF-8";
:root {
  --orange: #ff761a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2.4rem;
}

/*TAMAÑO CONTAINERS MOBILE*/
/*FIT DEL CONTENIDO MOBILE CON IMAGENES*/
/*FIT CONTENIDO CENTRAL SIN IMAGENES*/
/*HEADER DE LA PAGINA*/
.header-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 1px 10px 3px -8px rgba(131, 131, 131, 0.3);
          box-shadow: 1px 10px 3px -8px rgba(131, 131, 131, 0.3);
}

.navigation-header {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoHeader_TIG {
  width: 140px;
  margin-left: 20px;
}

.logoHeader_TIG img {
  width: 100%;
  height: 100%;
}

.bar-btn {
  font-size: 25px;
  color: gray;
  margin-right: 20px;
  cursor: pointer;
}

.navigation-header__list {
  position: fixed;
  width: 100%;
  height: 0hv;
  top: 100px;
  text-align: center;
  background-color: whitesmoke;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation-header__item {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation-header__item a {
  color: var(--orange);
  font-size: 2.4rem;
  font-weight: 300;
}

.navigation-header__item a:hover {
  color: orangered;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .navigation-header__list {
  height: 100vh;
}

#check:checked ~ .navigation-header__item {
  display: block;
}

/*CONTENEDOR PRINCIPAL*/
.main-container {
  display: inline-block;
}

/*CONTENEDOR HOME DE LA PAGINA*/
.main-content {
  color: whitesmoke;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 163, 102, 0.3)), to(rgba(255, 163, 102, 0.3))), url("../img/contactenos-img.jpeg");
  background-image: linear-gradient(rgba(255, 163, 102, 0.3), rgba(255, 163, 102, 0.3)), url("../img/contactenos-img.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-title {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 5rem;
}

.main-description {
  margin-bottom: 30px;
  margin-left: 15px;
  font-weight: 100;
  width: 60%;
}

.viewMore-button {
  background-color: var(--orange);
  border-radius: 28px;
  border: 1px solid --orange;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.8rem;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px --orange;
}

.viewMore-button:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*CONTENEDOR DE PRESENTACION BREVE*/
.presentation-container {
  padding: 0 50px;
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 3px solid #e7e4e4;
}

.presentation-container p {
  font-weight: 200;
}

/*CONTENEDOR DE LOS SERVICIOS*/
.services-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 3px solid #e7e4e4;
}
.services-container .services-title {
  padding-top: 50px;
  margin-bottom: 15px;
  font-size: 4.8rem;
  text-align: center;
}
.services-container .services-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.services-container .services {
  width: 325px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 20px 30px;
}
.services-container .services span {
  width: 250px;
  height: 200px;
  margin: auto;
}
.services-container .services img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
.services-container .services h3 {
  margin: 20px auto 0px;
  text-align: center;
  font-weight: 500;
}

.services-button {
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  padding: 8px 15px;
  background-color: var(--orange);
  color: whitesmoke;
  border-radius: 28px;
  font-size: 1.8rem;
}

.services-button:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*CONTENEDOR DE LA MISION*/
.mision-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #e7e4e4;
}

.left-content {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 15px;
}

.left-content h2 {
  margin-bottom: 20px;
}

.left-content p {
  font-weight: 300;
  margin-bottom: 20px;
}

.mision-img {
  padding-bottom: 20px;
  width: 50%;
  min-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mision-img img {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

/*CONTENEDOR DE LA VISION*/
.vision-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-content {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-right: 15px;
}

.right-content h2 {
  margin-bottom: 20px;
}

.right-content p {
  font-weight: 300;
  margin-bottom: 20px;
}

.vision-img {
  padding-bottom: 20px;
  width: 50%;
  min-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vision-img img {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

/*CONTENEDOR DE LA MISION*/
.mision-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #e7e4e4;
}

.left-content {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 15px;
}

.left-content h2 {
  margin-bottom: 20px;
}

.left-content p {
  font-weight: 300;
  margin-bottom: 20px;
}

.sidePhoto-img {
  padding-bottom: 20px;
  width: 50%;
  min-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidePhoto-img img {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

/*CONTENEDOR DE LA VISION*/
.vision-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 10px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-content {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-right: 15px;
}

.right-content h2 {
  margin-bottom: 20px;
}

.right-content p {
  font-weight: 300;
  margin-bottom: 20px;
}

.sidePhoto-img {
  padding-bottom: 20px;
  width: 50%;
  min-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidePhoto-img img {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

/*PIE DE PAGINA*/
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: var(--orange);
}

.footer-left {
  height: 90%;
}
.footer-left .footer-left-item {
  margin: 5px auto;
  font-size: 1.2rem;
  font-weight: 100;
}

.footer-right {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-right .footer-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-right .footer-right-title {
  margin: auto;
  font-size: 1.4rem;
}
.footer-right .footer-right-item {
  margin: auto;
}