@charset "UTF-8";
/*TAMAÑO DE LOS CONTAINERS*/
/*CONTAINERS CON CONTENIDO HACIA LOS LADOS*/
/**/
/*FIT DEL CONTENIDO ESCRITO */
/*FIT DEL CONTENIDO DE IMAGENES*/
/*CONTAINER CON CONTENIDO EN EL CENTRO*/
/**/
/*HEADER DE LA PAGINA*/
.header-container {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 1px 10px 3px -8px rgba(131, 131, 131, 0.3);
          box-shadow: 1px 10px 3px -8px rgba(131, 131, 131, 0.3);
  z-index: 1;
}

.logoHeader_TIG {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logoHeader_TIG img {
  width: 200px;
  height: 80px;
  margin: auto 15px;
}

.navigation-header {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-header__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-header__item {
  display: inline-block;
  margin-right: 50px;
  font-size: 1.4rem;
  font-weight: 100;
}

.navigation-header__item:hover {
  cursor: pointer;
}

/*CONTENEDOR PRINCIPAL*/
/*CONTENEDOR HOME DE LA PAGINA*/
.main-content {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*CONTENEDOR DE PRESENTACION BREVE*/
.presentation-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 3px solid #e7e4e4;
}

/*CONTENEDOR DE LOS SERVICIOS*/
.services-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #e7e4e4;
}
.services-container .services-title {
  padding-top: 50px;
  margin-bottom: 15px;
  font-size: 4.8rem;
  text-align: center;
}
.services-container .services-content {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.services-container .services {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-container .services span {
  width: 250px;
  height: 200px;
  margin: auto;
}
.services-container .services img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
.services-container .services h3 {
  margin: 20px auto 0px;
  text-align: center;
  font-weight: 100;
}

.services-button {
  display: inline-block;
  text-align: center;
  margin: 50px auto;
  padding: 8px 15px;
  background-color: var(--orange);
  color: whitesmoke;
  border-radius: 28px;
  font-size: 1.8rem;
}

.services-button:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*PIE DE PAGINA*/
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: var(--orange);
}

.footer-left {
  height: 90%;
}
.footer-left .footer-left-item {
  margin: 5px auto;
  font-size: 1.2rem;
  font-weight: 100;
}

.footer-right {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-right .footer-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-right .footer-right-title {
  margin: auto;
  font-size: 1.4rem;
}
.footer-right .footer-right-item {
  margin: auto;
}

.service1-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #e7e4e4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.left-content {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.left-content h2 {
  margin-bottom: 20px;
}

.left-content p {
  font-weight: 300;
}

.sidePhoto-img {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidePhoto-img img {
  width: 420px;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.service3-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #e7e4e4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.left-content {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.left-content h2 {
  margin-bottom: 20px;
}

.left-content p {
  font-weight: 300;
}

.sidePhoto-img {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidePhoto-img img {
  width: 420px;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.service2-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #e7e4e4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.right-content {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
}

.right-content h2 {
  margin-bottom: 20px;
}

.right-content p {
  font-weight: 300;
}

.sidePhoto-img {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidePhoto-img img {
  width: 420px;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.service4-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.right-content {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
}

.right-content h2 {
  margin-bottom: 20px;
}

.right-content p {
  font-weight: 300;
}

.sidePhoto-img {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidePhoto-img img {
  width: 420px;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}