footer.footer-info 
    .footer-left 
        ul.footer-left-list 
            li.footer-left-item <b>Dirección:</b> Carrera 26B No. 76-91. Barranquilla - Colombia
            li.footer-left-item <b>Email:</b> tigsoldadurasymotajessas@gmail.com
            li.footer-left-item <b>Tel:</b> +57 305 796 7287
    
    .footer-right 
        h3.footer-right-title Redes sociales
        ul.footer-right-list
            li.footer-right-item 
                a(href="#")
                    <i class="fab fa-facebook-square fa-3x"></i>
            li.footer-right-item 
                a(href="#")
                    <i class="fab fa-instagram-square fa-3x"></i>

