include headServices.pug

body
    header.header-container
        div.logoHeader_TIG
            img(src="../img/logo TIG.png", alt="")

        nav.navigation-header
            ul.navigation-header__list 
                li.navigation-header__item
                    a(href="#") Home  
                li.navigation-header__item
                    a(href="#") Quienes somos 
                li.navigation-header__item
                    a(href="#") Nuestros servicios 
                li.navigation-header__item
                    a(href="#") Contactenos
    block mainContent
    