include head.pug

body
    header.header-container
        div.logoHeader_TIG
            img(src="../img/logo TIG.png", alt="")

        nav.navigation-header
            ul.navigation-header__list 
                li.navigation-header__item
                    a(href="landing.html") Home  
                li.navigation-header__item
                    a(href="quienesSomos.html") Quienes somos 
                li.navigation-header__item
                    a(href="services.html") Nuestros servicios 
                li.navigation-header__item
                    a(href="contactUs.html") Contactenos
    block mainContent
    