include head.pug

body
    header.header-container
        

        nav.navigation-header
            div.logoHeader_TIG
                img(src="../img/logo TIG.png", alt="")
            input#check(type="checkbox")
            label.bar-btn(for="check")
                <i class="fas fa-bars"></i> 
            ul.navigation-header__list 
                li.navigation-header__item
                    a(href="landing.html") Home  
                li.navigation-header__item
                    a(href="quienesSomos.html") Quienes somos 
                li.navigation-header__item
                    a(href="services.html") Nuestros servicios 
                li.navigation-header__item
                    a(href="contactUs.html") Contactenos
    block mainContent
    