/*CONTENEDOR PRINCIPAL*/
.main-container {
  display: inline-block;
}
/*CONTENEDOR HOME DE LA PAGINA*/
.main-content {
  color: whitesmoke;
  background-image: linear-gradient(
      rgb(255, 163, 102, 0.3),
      rgb(255, 163, 102, 0.3)
    ),
    url("../img/contactenos-img.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include containerBox;
  @include centerContainer;
}
.main-title {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 5rem;
}
.main-description {
  margin-bottom: 30px;
  margin-left: 15px;
  font-weight: 100;
  width: 60%;
}
.viewMore-button {
  background-color: var(--orange);
  border-radius: 28px;
  border: 1px solid --orange;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.8rem;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px --orange;
}
.viewMore-button:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}

/*CONTENEDOR DE PRESENTACION BREVE*/
.presentation-container {
  padding: 0 50px;
  @include containerBox;
  @include centerContainer;
  @include borderContainerBottom;
}
.presentation-container p {
  font-weight: 200;
}

/*CONTENEDOR DE LOS SERVICIOS*/
.services-container {
  flex-direction: column;
  justify-content: space-between;
  .services-title {
    padding-top: 50px;
    margin-bottom: 15px;
    font-size: 4.8rem;
    text-align: center;
  }
  .services-content {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .services {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .services span {
    width: 250px;
    height: 200px;
    margin: auto;
  }
  .services img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
  }
  .services h3 {
    margin: 20px auto 0px;
    text-align: center;
    font-weight: 100;
  }
  @include containerBox;
  @include borderContainerBottom;
}

.services-button {
  display: inline-block;
  text-align: center;
  margin: 50px auto;
  padding: 8px 15px;
  background-color: var(--orange);
  color: whitesmoke;
  border-radius: 28px;
  font-size: 1.8rem;
}
.services-button:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}
