extend components/header.pug
block mainContent

        main.main-container

            section.main-content 
                h1.main-title TIG SOLDADURAS Y MONTAJES S.A.S 
                p.main-description Somos una empresa especializada en la construccion, montaje, mantenimiento y soldadura en la industria de procesos.
                a(href="#").viewMore-button conocer más 

            section.presentation-container 
                h2  <b>Por que trabajar con nosotros?</b> <br> <br>
                p Somos una empresa fundada en el año 2017 por personas con experiencia en el desarrollo de proyectos metalmecánicos, con especialidad en soldadutas TIG para tuberias de la industria de procesos alimenticios.

            section.services-container 
                h2.services-title Servicios 
                .services-content
                    +service('services_1.jpg','Fabricación y reparación de tuberias') 

                    +service('services_2.jpg','Fabricación y reparación de tanques')

                    +service('services_3.jpg','Carpintería metálica')
                a(href="#").services-button ver más

            section.mision-container
                +left-container('Misión','Nuestra misión es proveer a nuestros clientes soluciones para sus necesidades en instalaciones de tuberias para maquinarias de procesos industriales, carpinteria metálica y soldaduras, con mano de obra especializada, calidad y puntialidad en las fechas de entregas de proyectos', 'servicio1.jpg')
            
            section.vision-container 
                +right-container('Visión','Para el año 2027 seremos una empresa referente en a ciudad de Baranquilla en los servicios especializados de soldadura para la industria de procesos de alimentos y farmaceuticos, ofreciendo trabajos con una excelente mano de obra y generando confianza y seguridad en nuestros clientes','servicio2.jpg')

        include components/footer.pug